.CodeMirror {
	border-top: 1px solid black; border-bottom: 1px solid black;
	/*font-size:10px;*/
	width:70%;
	float:left;
}
.CodeMirror-scroll {
	height:400px;
}

#filelist {
	height:385px;
	width:28%;
	overflow-y:auto;
	overflow-x:hidden;
	font-size:11px;
	border: 3px solid #222;
	padding: 5px;
	float: right;
	background-color:black;
}
#filelist a {
	clear: right;
	display:block;
	color: #FFBD40;
}
#filelist a:hover {
	color: #FF7B00;
	text-decoration: underline;
}
#filelist ul {
	color: #9FEE00;
}
p.subhead {
	margin-top:-20px;
	margin-left:20px;
}
div.footer {
	display:block;
	clear:both;
	font-size:10px;
	padding-top:10px;
	color:#AAA;
	font-style: italic;
	float:left;
}
#filelist a.selected {
	color: lime;
}
div.key {
	float:right;
	padding-top:10px;
	font-style: italic;
	color:#888;	
	font-size:12px;	
}
div.key em {
	font-weight: bold;
	color:#DF0019;
}